.react-calendar {
  width: 100%;
  background: var(--chakra-colors-chakra-body-bg);
  color: var(--chakra-colors-chakra-body-text);
  border-radius: var(--chakra-radii-lg);
  border: 0;
  font-family: var(--chakra-fonts-body);
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  color: var(--chakra-colors-chakra-body-text);
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: var(--chakra-colors-gray-700);
  border-radius: var(--chakra-radii-lg);
}
.react-calendar__navigation button[disabled] {
  background-color: var(--chakra-colors-gray-600);
  border-radius: var(--chakra-radii-lg);
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: var(--chakra-colors-red-500);
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--chakra-colors-gray-500);
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  opacity: 0.4;
  pointer-events: none;
  background-color: transparent;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: var(--chakra-colors-gray-700);
  color: var(--chakra-colors-chakra-body-text);
  border-radius: var(--chakra-radii-lg);
}
.react-calendar__tile--now {
  background: var(--chakra-colors-yellow-400);
  border-radius: var(--chakra-radii-lg);
  font-weight: bold;
  color: var(--chakra-colors-black);
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: var(--chakra-colors-yellow-500);
  border-radius: var(--chakra-radii-lg);
  font-weight: bold;
  color: var(--chakra-colors-black);
}
.react-calendar__tile--hasActive {
  background: var(--chakra-colors-blue-400);
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: var(--chakra-colors-gray-700);
}
.react-calendar__tile--active {
  background: var(--chakra-colors-red-500);
  border-radius: var(--chakra-radii-lg);
  font-weight: bold;
  color: var(--chakra-colors-white);
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--chakra-colors-red-600);
  color: var(--chakra-colors-white);
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: var(--chakra-colors-gray-700);
}
.react-calendar__tile--range {
  background: var(--chakra-colors-red-400);
  color: var(--chakra-colors-white);
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  border-top-left-radius: var(--chakra-radii-lg);
  border-bottom-left-radius: var(--chakra-radii-lg);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: var(--chakra-colors-red-500);
  color: var(--chakra-colors-white);
}
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: var(--chakra-radii-lg);
  border-bottom-right-radius: var(--chakra-radii-lg);
  background: var(--chakra-colors-red-500);
  color: var(--chakra-colors-white);
}

abbr[title] {
  text-decoration: none;
  color: var(--chakra-colors-chakra-body-text);
}
